<!DOCTYPE html>
    {% load static %}
    <div id="vypocty2">
        <div class="column2" id="last">
            <input type="checkbox" id="IkonaventilaceBond" disabled="disabled" onclick="calculate();changeFilter(Ikonaventilace, 0, IkonaventilaceBond)" />
            <label for="IkonaventilaceBond" class="bond" title="Lepší ventilace"><img src="{% static 'gallery/improvedEquipment.png' %}"/></label>
        </div>
        <div class="column2">
            <input type="checkbox" id="IkonaoptikaBond" disabled="disabled" onclick="calculate();changeFilter(Ikonaoptika, 1, IkonaoptikaBond)"/>
            <label for="IkonaoptikaBond" class="bond" title="Lepší optika"><img src="{% static 'gallery/improvedEquipment.png' %}"/></label>
        </div>
        <div class="column2">
            <input type="checkbox" id="IkonazamerovakBond" disabled="disabled" onclick="calculate();changeFilter(Ikonazamerovak, 2, IkonazamerovakBond)" />
            <label for="IkonazamerovakBond" class="bond" title="Lepší zaměřovák"><img src="{% static 'gallery/improvedEquipment.png' %}"/></label>
        </div>
        {% if nonReloadingProperties.autoloader == 0 %}
        <div class="column2">
            <input type="checkbox" id="IkonanabijakBond" disabled="disabled" onclick="calculate();changeFilter(Ikonanabijak, 3, IkonanabijakBond)" />
            <label for="IkonanabijakBond" class="bond" title="Lepší nabiják"><img src="{% static 'gallery/improvedEquipment.png' %}"/></label>
        </div>
        {% endif %}
</html>