<!DOCTYPE html>
    {% load static %}
    <div id='vypocty'>
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonabratri" onclick="calculate();" />
            <label for="Ikonabratri" class="nonBond"><img src="{% static 'gallery/BIA.png' %}"/></label>
        </div>
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonaventilace" onclick="calculate();" />
            <label for="Ikonaventilace" class="nonBond"><img src="{% static 'gallery/ventilace.png' %}"/></label>
        </div>
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonabino" onclick="calculate();">
            <label for="Ikonabino" class="nonBond"><img src="{% static 'gallery/bino.png' %}"/></label>
        </div>
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonaoptika" onclick="calculate();changeFilter(IkonaoptikaBond, 1, Ikonaoptika)"/>
            <label for="Ikonaoptika" class="nonBond"><img src="{% static 'gallery/optika.png' %}"/></label>
        </div>
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonazamerovak" onclick="calculate()" />
            <label for="Ikonazamerovak" class="nonBond"><img src="{% static 'gallery/zamerovak.png' %}"/></label>
        </div>
        {% if nonReloadingProperties.autoloader == 0 %}
        <div class="column">
            <input type="checkbox" class="equipment" id="Ikonanabijak" onclick="calculate()" />
            <label for="Ikonanabijak" class="nonBond"><img src="{% static 'gallery/nabijak.png' %}"/></label>
        </div>
        {% endif %} 
</html>