<table id="palba">
    <tr>
    <tr><th colspan="4" id="vrsek">Palebná síla</th></tr>
    </tr>
    <tr>
        <th></th>
        {% for shellProperty in shellProperties %}
            <td>{{shellProperty.naboj_idnaboj.nazev}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Průbojnost:</th>
        {% for shellProperty in shellProperties %}
            <td>{{shellProperty.prubojnost}} mm</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Poškození:</th>
        {% for shellProperty in shellProperties %}
            <td>{{shellProperty.poskozeni}}</td>
        {% endfor %}
    </tr>
    {% if nonReloadingProperties.autoloader %}
        <tr>
            <th>Počet ran v zásobníku</th>
            <td>{{nonReloadingProperties.pocetran}}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Nabíjení mezi ranami:</th>
            <td>{{nonReloadingProperties.mezinabijeni}} s</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Čas nabití zásobníku:</th>
            {% for reload in reloading %}
            <td id="nabijak">{{reload.nabijeni}}</td>
            {% endfor %}
        </tr>

    {% else %}
        <tr>
            <th>Čas nabíjení:</th>
            {% for reload in reloading %}
            <td id="nabijak">{{reload.nabijeni}}</td>
            {% endfor %}
        </tr>
    {% endif %}
    <tr>
        <th>Čas zaměření:</th>
        <td id="zamerovak">{{nonReloadingProperties.zamereni}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Přesnost:</th>
        <td id="Presnost">{{nonReloadingProperties.presnost}}</td>
        <td></td>
        <td></td>
    </tr>
</table>