<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>{{tank.tanknazev}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'styly-tank.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
    <script src={% static 'javascript-wotkopedie.js' %}></script>

</head>
<body>
<h1>{{tank.tanknazev}}</h1>
<div class="compare-button">
    <button class="btn btn-primary" id="addToComparison" onclick="addToComparison({{ tank.id }})">Přidat do porovnání</button></a>
</div>
<div>Celkem <span id="comparisonCount">{{ totalTanksInComparison }}</span>/2 tanků v porovnání</div>


{% for reload in reloading %}
    <p class="nabijeni">{{reload.nabijeni}}</p>
{% endfor %}
<p id="zamerovani">{{nonReloadingProperties.zamereni}}</p>
<p id="presnost">{{nonReloadingProperties.presnost}}</p>
<p id="dohled">{{tank.dohled}}</p>

<div class="obrazky">
   {% include "equipment.html" %}
   {% include "bonds.html" %}
</div>
    {% include "firePower.html" %}
    {% comment %} {% include "firePowerHybrid.html" %} {% endcomment %}

    <form action='' method="GET">
        {% csrf_token %}
        <select id='dela' class='vyber'>
            {% for gun in guns %}
                <option class="moznost" value={{gun.idGun}} {%if gun.Nazev == highestTierGun %} selected="selected" {% endif %}>({{gun.Tier}}) {{gun.Nazev}}</option>
            {% endfor %}
        </select>
    </form>

<table id="mobilita">
    <tr>
      <tr><th colspan="4" id="vrsek">Mobilita</th></tr>
    </tr>
    <tr>
        <th>Maximální rychlost:</th>
        <td>{{tank.rychlost}} km/h</td>
    </tr>
    <tr>
      <th>Couvání:</th>
      <td>{{tank.couvani}} km/h</td>
  </tr>
  <tr>
      <th>Výkon:</th>
      <td>{{tank.vykon}} koní</td>
  </tr>
  <tr>
      <th>Počet koní / tuna:</th>
      <td>{{tank.konetuna}}</td>
  </tr>
  <tr>
      <th>Otáčení tanku:</th>
      <td>{{tank.otacenikorba}} °/s</td>
  </tr>
  <tr>
      <th>Elevace:</th>
      <td>{{tank.elevace}} °</td>
  </tr>
  <tr>
    <th>Deprese:</th>
    <td>-{{tank.deprese}} °</td>
  </tr>
  <tr>
    <th>Otáčení věže:</th>
    {% if tank.otacenivez == "Není věž" %}
        <td>TODO Add turret rotation property</td>
    {% else %}
        <td>TODO Add turret rotation property</td>
    {% endif %}
  </tr>
</table>

<table id="zbytek">
    <tr>
      <tr><th colspan="4" id="vrsek">Zbytek</th></tr>
    </tr>
    <tr>
        <th>Pancíř korby:</th>
        <td>{{tank.korbapred}} mm / {{tank.korbabok}} mm / {{tank.korbazad}} mm</td>
    </tr>
    <tr>
      <th>Pancíř věže:</th>
      <td>{{tank.vezpred}} mm / {{tank.vezbok}} mm / {{tank.vezzad}} mm</td>
  </tr>
  <tr>
      <th>Počet životů:</th>
      <td>{{tank.zivoty}} </td>
  </tr>
  <tr>
      <th>Hmotnost:</th>
      <td>{{tank.hmotnost}} t</td>
  </tr>
  <tr>
      <th>Maximální náklad:</th>
      <td>{{tank.naklad}} t</td>
  </tr>
  <tr>
      <th>Dohled:</th>
      <td id="binoOp">{{tank.dohled}}</td>
  </tr>
  <tr>
    <th>Binokulární dalekohled s vybavením:</th>
    <td id="bino"></td>
  </tr>
  <tr>
    <th>Cena:</th>
    <td>{{tank.cena}}</td>
  </tr>
  <tr>
    <th>Náklady na výzkum:</th>
    <td>{{tank.vyzkum}}</td>
  </tr>
</table>

{% include "searching.html" %}
<div id="tankList">
</div>

<a class="odkaz" href="/">←Zpět na úvodní stránku</a>
<script>

    window.onload = checkTotalNumOfTanksInComparison()
    
    function checkTotalNumOfTanksInComparison() {
        tanksInComparisonNum = parseInt(document.getElementById("comparisonCount").innerHTML)
        if (tanksInComparisonNum >= 2) {
            document.getElementById("addToComparison").setAttribute("disabled", true)
        }
        else {
            document.getElementById("addToComparison").removeAttribute("disabled")
        }
    }

    $("#vyhledat").keyup(function() {
        $("ul").remove();
        if ($("#vyhledat").val().length > 0) {
        $.ajax({
            type: "GET",
            url: "",
            dataType: "json",
            data: {
                text : $("#vyhledat").val()
            },
            success: function(response) {
                var parsed = JSON.parse(response.foundTanks);
                if (Object.keys(parsed).length > 0) {
                    var ul = document.createElement("UL");
                    for (i = 0; i < Object.keys(parsed).length; i++) {
                        var name = parsed[i].fields.tanknazev;
                        var a = document.createElement('a');
                        var li = document.createElement("LI");
                        li.setAttribute('class', 'link');
                        li.innerHTML = name;
                        a.setAttribute('href', parsed[i].fields.odkaz);
                        a.appendChild(li);
                        ul.appendChild(a);
                    }
                    document.getElementById("tankList").appendChild(ul);
                    $("ul").show();
                }
            }
        });
    }
    else {
        $("ul").fadeOut(1);
    }
    });

    $("#dela").change(function(){
        $.ajax({
            type: "GET",
            url: "",
            dataType: "json",
            data: {
                gunId: $("#dela").val()
            },
            success: response => {
                let parsedNonReloadingProps = JSON.parse(response.nonReloadingProperties)[0]
                let parsedReloading = JSON.parse(response.reloading)
                showNewGunInfo(parsedNonReloadingProps.fields, parsedReloading, response.shellProperties)
            },
            error: (xhr, status, error) => {
                console.log(error)
            }
        })
    });

    
    function showNewGunInfo(nonReloadingProperties, reloading, shellProperties) {
        let aimField, accuracyField, reloadingField
        let shellNameFields = $("tr").eq(2).children()
        let penetrationFields = $("tr").eq(3).children()
        let damageFields = $("tr").eq(4).children()
        if (nonReloadingProperties.autoloader) {    // Gun is autoloading
            reloadingField = $("tr").eq(7).children()
            aimField = $("tr").eq(8).children().eq(1)
            accuracyField = $("tr").eq(9).children().eq(1)
        }
        else {
            reloadingField = $("tr").eq(5).children() 
            aimField = $("tr").eq(6).children().eq(1)
            accuracyField = $("tr").eq(7).children().eq(1)
        }
        accuracyField.text(nonReloadingProperties.presnost)
        aimField.text(nonReloadingProperties.zamereni)
        basicReloadFields = document.getElementsByClassName("nabijeni")
        for (let i = 1; i < reloadingField.length; i++) {   // Fill all reloading fields with their values (tanks can have multiple reloadings)
            reloadingField.eq(i).text(reloading[i-1].fields.nabijeni)
            basicReloadFields[i-1].innerText = reloading[i-1].fields.nabijeni
        }
        for (let i = 0; i < shellProperties.length; i++) {
            shellNameFields.eq(i+1).text(shellProperties[i].Nazev)
            penetrationFields.eq(i+1).text(shellProperties[i].Prubojnost + " mm")
            damageFields.eq(i+1).text(shellProperties[i].Poskozeni)
        }
        if (shellNameFields.length - 1 > shellProperties.length) {  // Remove shell names if previous gun had more shells than the current one
            for (let i = shellProperties.length; i < shellNameFields.length; i++) {
                shellNameFields.eq(i+1).text("")
                penetrationFields.eq(i+1).text("")
                damageFields.eq(i+1).text("")
            }
        }
        document.getElementById("zamerovani").innerText = nonReloadingProperties.zamereni
        document.getElementById("presnost").innerText = nonReloadingProperties.presnost
        basicReloadingFields = document.getElementsByClassName("nabijeni")
        for (let i = 0; i < basicReloadingFields.length; i++) {
            basicReloadingFields[i].innerText = reloading[i].fields.nabijeni 
        }
    }

    function addToComparison(tankId) {
        $.ajax({
            type: "GET",
            url: "",
            dataType: "json",
            data: {
                tankId: tankId,
            },
            success: response => {
                console.log(response.msg)
                document.getElementById("comparisonCount").innerHTML = response.totalTanksInComparison
                checkTotalNumOfTanksInComparison()
            }
        })
    }
</script>
</body>
</html>